@{
    ViewBag.Title = "Index";
}
	<!-- About & Twitter -->
    <a href="/Home/Index" target="_blank" title="CSS Gallery"><h2>Log Out</h2></a>
			<div class="two-posts">
				<div class="cl">&nbsp;</div>
				
				<div class="left">
					<div class="post" id="about">
						<h2>Welcom to admin pannel</h2>
						<div class="cl">&nbsp;</div>
					    <div class="cl">&nbsp;</div>
					</div>
				</div>
				
				<div class="right">
					<div class="post">
						<h2>Admin menu</h2>
						<ul class="twitter">
						    <li>
						    	if you don'nt have accont plz first create account and then access the whole web for online ordering<br />
						    	
						    </li>
						    
                            <li>
						    	<a href="/Product/list_product"><h2>All Products</h2></a>
                            </li>

						    <li>
						    	<a href="/Home/sign_Up"><h2>All orders</h2></a>
                            </li>
						</ul>
						
					</div>
				</div>
				
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End About & Twitter -->
			
		
