	<!-- About & Twitter -->
   
			<div class="two-posts">
				<div class="cl">&nbsp;</div>
				
				<div class="left">
					<div class="post" id="about">
						<h2>About Me</h2>
						<div class="cl">&nbsp;</div>
						<p>
							<img src="~/Content/images/about.gif" class="img alignleft" alt="" />
							
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit eros ac dolor pellentesque in posuere lacus aliquet. Praesent mollis volutpat ipsum, id elementum ligula  odio purus, consequat sit amet accumsan eget, molestie ac dui. Aliquam erat volutpat. Nunc </p>
							
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse hendrerit eros ac dolor pellentesque in posuere lacus aliquet. Praesent mollis volutpat ipsum, id elementum ligula posuere sit amet. Cras viverra accumsan venenatis. Donec vitae est augue. Fusce aliquet laoreet arcu vel pulvinar. Nulla at odio quam. Nam sit amet enim purus. Morbi lacinia auctor ante id congue. Fusce molestie urna nec turpis placerat porta. Nullam fermentum sem eu nunc tempus dignissim. Quisque odio purus, consequat sit amet accumsan eget, molestie ac dui. Aliquam erat volutpat. Nunc </p>
						
						<div class="cl">&nbsp;</div>
					</div>
				</div>
				
				<div class="right">
					<div class="post">
						<h2>For acccessing web plz login first</h2>
						<ul class="twitter">
						    <li>
						    	if you don'nt have accont plz first create account and then access the whole web for online ordering<br />
						    	
						    </li>
						    
                            <li>
						    	<a href="/Home/sign_In"><h2>sign In</h2></a>
                            </li>

						    <li>
						    	<a href="/Home/sign_Up"><h2>sign Up</h2></a>
                            </li>
						</ul>
						
					</div>
				</div>
				
				<div class="cl">&nbsp;</div>
			</div>
			<!-- End About & Twitter -->
			
		
