@{
    ViewBag.Title = "printing";
}
@model List<project.Models.my_product>
<h1>Printing samples</h1>

	<!-- About & Twitter -->
 			<div class="two-posts">
				<div class="cl">&nbsp;</div>
				
				<div class="left">
            	
                    <a href="/home/eid_card"><h2>eid card </h2></a>
                   <div class="cl">&nbsp;</div>
                    <a href="/home/wedding_card"><h2>wedding card </h2></a>
                   <div class="cl">&nbsp;</div>
                     <a href="/home/birthday_card"><h2>birthday card </h2></a>
				

					    <div class="cl">&nbsp;</div>
					</div>
				</div>	
				<div class="cl">&nbsp;</div>
			
			<!-- End About & Twitter -->
			
		







