@{
    ViewBag.Title = "uploading";
}

			<div class="post" id="contact">
				<h1>Upload your file to be printing</h1>
				<div class="contact-form">
					<div class="cl">&nbsp;</div>
					<div class="left">
						In ordr to access this website sign in is necessary but if you do not have account you must sign up first.
					</div>
					<div class="form right">
						<form action="" method="post">
							<label>Your Name: <span>(Required)</span></label>
							<input type="text" class="field" name="name" />							
							<label>Your password: <span>(Required)</span></label>
							<input type="text" class="field" name="pwd" />							
							<label>Your Email: <span>(Required)</span></label>
							<input type="text" class="field" name="email" />							
							<label>Your Address: <span>(Required)</span></label>
							<input type="text" class="field" name="address" />							
                            <label>Your Phone: <span>(Required)</span></label>
							<input type="text" class="field" name="phone" />							
                            <input type="submit" class="submit-form" value="Submit" />

                            </form>
					</div>
					<div class="cl">&nbsp;</div>
				</div>
			</div>

